@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");

:root {
  --primary-color: #2f80ed;
  --primary-color2: #4f4f4f;
  --primary-color3: #828282;
  --primary-color4: #e0e0e0;
}

body {
  font-family: "Lato", sans-serif;
}

/* Small scrollbar */
/* width */
.small-scrollbar::-webkit-scrollbar {
  width: 8px;
}

/* Track */
.small-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
.small-scrollbar::-webkit-scrollbar-thumb {
  background: #bdbdbd;
  border-radius: 8px;
}

/* Handle on hover */
.small-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.hover-animation {
  @apply hover:scale-105 transition-transform duration-300 ease-in-out;
}
